@import "../../assets/scss/variables";
.Padding-H {
 padding: 27rpx 28rpx;
}
.Border-Right{
  border-right: 1rpx solid #B5B5B5;
}

.renderRight{
  display: flex;
  flex-direction: row;
  font-size: 18rpx;
  .renderRight-L{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18rpx;
  }
  .renderRight-R{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 53rpx;
    margin-left: 6rpx;
    align-items: center;
    color: $FS_12
  }
}
.Wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: $BACKGROUNG;
  
    .Title-Item{
      height: 76rpx;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      color: $FC_DEFAULT;
      font-size:$FS_RPC_24;
    }
    .Today-Price {
      height: 227px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      .Today-Price-Cover{
         position: absolute;
         top: 0;
         width: 100%;
         bottom: 0;
         z-index: 0;
         image{
           height: 100%;
           width: 100%;
         }
      }
      .Today-Top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 99;
        .Today-Num{
          color: $FC_DB;
          font-size: 55rpx;
        }
      }
      .Today-Bottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $FC_90;
        font-size: 29rpx;
        position: absolute;
        bottom: 0;
        z-index: 99;
        width: 100%;
        .Today-Num{
          font-size: 16rpx;
        }
      }
    }

    .Today-Desc{
       width: 100%;
       display:flex;
       flex-direction: column;
       align-items: center;
       margin: 50px 0;
       .Desc-Text{
         width: 100%;
        display: flex;
          justify-content: center;
         color: $FC_DEFAULT;
         font-size: $FS_RPC_20;
         .Text-Num{
           color: $FC_FF8A00;
           font-size: $FS_RPC_24;
           text-decoration: underline;
         }
       }
    }

    .Price-Total{
      display: flex;
      flex-direction: column;
      .To-Price{
          width: 100%;
          text-align: left;
          font-size: $FS_RPC_24;
          color: $FC_DEFAULT;
          margin: 10px 0;
        .To-Price-Active{
            font-size: $FS_RPC_20;
            color: $FC_DEFAULT;
        }
      }
      .Price-AP-Container{
        display: flex;
        flex-direction: row;
        .Price-AP{
          display: flex;
          flex: 1;
          flex-direction: row;
          padding: 10px 15px;
          .Price-AP-L{
            display: flex;
            flex-direction: column;
            color: $FC_54;
            font-size: $FS_RPC_16;
            width: 70px;
            align-items: center;
            image{
              width: 9rpx;
              height: 115rpx;
              margin: 5px 0px;
            }
          }

          .Price-AP-R{
            display: flex;
            flex: 1;
            flex-direction: column;
            .Price-AP-R-T{
              padding: 0 5rpx;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              color: $FC_54;
              font-size:$FS_RPC_16;
            }

            .Price-AP-R-B{
               flex: 1;
               display: flex;
               flex-direction: row;
              //  justify-content: center;
               align-items: center;
              .Price-AP-R-B-C{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: left;
                color: $FC_DEFAULT;
                font-size: 47rpx;

              }
            }
          }
        }
      }
    }
   .Submit-Container{
     display: flex;
     flex-direction: column;
     margin: 10rpx 0;
     padding: 0 50px;
     border-top: 5rpx solid gray;
    //  border-bottom: 1px solid gray;
    .Submit-Info{
      padding: 20rpx 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $FC_DEFAULT;
      font-size: $FS_RPC_24;
    }
     .Submit-Item{
       display: flex;
       flex-direction: row;
       .Item-Fix{
         width: 95rpx;
         display: flex;
        //  flex-direction: column;
         justify-content: center;
         align-items: center;
         .desc{
          width: 95rpx;
          display: flex;
          // text-align: justify;
          justify-content: center;
          align-items: center;
          text-align: center;
         }
         .top{
           color: $FC_DEFAULT;
           font-size:$FS_RPC_29
         }
         .bottom{
           color: $FC_DE;
           font-size: $FS_9;
           
         }
       }
       .Input-Container{
         flex: 1;
         display: flex;
         align-items: center;
         margin: 8px 0;
         overflow: hidden;
         input{
           height: 58rpx;
           width: 100%;
           background: #171a24;
           border-radius: 10px;
           padding: 0 10px;
           color: #fff;
         }
         .input-p{
           color: $FC_5C5B5B;
           font-size: $FS_RPC_16
         }
       }
     }
     .button {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 20rpx 0;
        background:gray;
        padding:18rpx 0;
        image{
          width: 100%;
          height:67rpx;
        }
        &.active{
          background:#26DDB1;
        }
      }
   }
}

.detail_moutai{
  height: 79rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 27rpx;
  padding-right:27rpx;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom:1px solid gray;
}
.detail_moutai_price{
  padding-top: 16rpx;
  padding-bottom:16rpx;
  padding-left: 72rpx;
  padding-right:72rpx;
  .pricePanelTitle{
    color: #F0F0F1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .pricePanelTime{
    text-align: right;
    font-size:$FS_RPC_24;
    color: #909090;
  }
  .pricePanelContainer{
    border-radius: 10rpx;
    background: rgba(29,32,41,0.62);
    .priceList{
      padding: 28rpx;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .priceListA{
        color: #909090;
        font-size: 20rpx;
        .priceListRight{
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  .pricePanelBottom{
    font-size: 18rpx;
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}
.detail_charts{
  border-top:5rpx solid gray;
  // border-bottom:5rpx solid gray;
  .detail_chartsTitle{
    padding:19rpx 39rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .detail_chartsPanel{
    //height: 411rpx;
  }
}
.detail_moutai_price_an{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20rpx;
  padding-bottom: 16rpx;
}
.calc{
  display: flex;
  flex-direction: row;
  border-top: 1rpx solid #A0A0A0;
  border-bottom:1rpx solid #A0A0A0;
  .calcList{
    display: flex;
    flex-direction: column;
    flex:1;
    color: #FEFFFF;
    font-size: 16rpx;
    align-items: center;
    border-right: 1rpx solid #A0A0A0;
  }
}
.line-chart{
  width: 100%;
  height: 411rpx;
}
.detail_chartsMark{
    padding: 0 20rpx;
    height:71rpx;
    display: flex;
    flex-direction:row;
    justify-content: flex-end; 
    border-bottom:5rpx solid gray;
    .detail_chartsMarkList{
      display: flex;
      flex-direction: row;
      margin-left: 55rpx;
      justify-content: space-between;
      align-items: center;
      .detail_chartsMarkListRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 4rpx;
      }
    }
  }

//各地参考价格
.CK-Price-Container{
  display: flex;
  flex-direction: column;
  color: $FC_DEFAULT;
  .CK-Price-Title{
    display: flex;
    text-align: left;
    font-size: $FS_RPC_24;
    // height: 59pt;
    align-items: center;
    overflow: hidden;
  }
  .CK-Price-Items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .CK-Price-Item{
      flex: 1;
      background: $BACK_171a24;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10rpx;
      padding:  10rpx 0;
      &:last-child{
        margin-right: 0rpx;
      }
      .big{
        font-size: $FS_RPC_18
      }
      .bigX{
        font-size: $FS_RPC_24;
        margin: 6rpx 0;
      }
      .small{
        font-size: $FS_RPC_16
      }
      .date {
      color: $FC_90
      }
      .CK-Price-Item-T{
        display: flex;
        flex-direction: column;
        align-items: center;
      
      }
      .CK-Price-Item-B{
        display: flex;
        flex-direction: column;
        align-items: center
      }
      

    }
  }

}

// 加载与刷新
.dragUpdataPage{height: 100%;position: relative;overflow: hidden;
	.downDragBox{
	    width: 100%;
	    top: 0px;
	    display: flex;
	    overflow: hidden;
	    justify-content: center;
	    align-items: center;
	    font-size: 30px;
      position: absolute;
      z-index: 999;
	}
	.upDragBox{
	    bottom: 0px;
	    width: 100%;
	    display: flex;
	    overflow: hidden;
	    justify-content: center;
	    align-items: center;
	    font-size: 30px;
	    position: absolute;
	}
	.dragUpdata{height: 100%;width: 100%;position: absolute;}
	.downText{margin-left: 20px;color: #00b388}
}


