@import "../../assets/scss/variables";

.shareImage-cont{
  display: flex;
  flex-direction: row;
  justify-content: center
}
.handle-icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  .at-icon{
    &:first {
      margin-right: 12px;
    }
  }
}