@import "../../assets/scss/variables";
.fx-index-wrap{
  position: absolute;
  height: 100%;
  width: 100%;
  background: $BACKGROUNG;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .index-top{
    display: flex;
    flex-direction: column;
    padding-top: 195rpx;
    // justify-content: space-between;
    align-items: center;
    .logo{
      width: 299rpx;
      height: 218rpx;
    }
    .load{
      width: 300rpx;
      height: 62rpx;
      margin: 79rpx 0 34rpx 0;
    }
    .loadtxt{
      color: $FC_54;
      font-size: 23rpx
    }
  }
  .index-bottom{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    padding: 30rpx 0;
    .info{
      width: 555rpx;
      height: 78rpx;
    }
  }
}
